@charset "UTF-8";

.color01{ background:#336666;}
.color02{ background:#CC9933;}
.color03{ background:#666666;}
.color04{ background:#999933;}
.color05{ background:#996699;}
.color06{ background:#FF6666;}
.color07{ background:#339999;}
.color08{ background:#003366;}
.color09{ background:#CC3333;}
.color10{ background:#99CC33;}
.color11{ background:#0099CC;}
.color12{ background:#666699;}
.color13{ background:#FF6600;}
.color14{ background:#993366;}
.color15{ background:#009988;}
.color16{ background:#000000;}

