@charset "UTF-8";

.color01{ background:#379392;}
.color02{ background:#ff5f2e;}
.color03{ background:#fcbe32;}
.color04{ background:#004e66;}

.color05{ background:#ff7473;}
.color06{ background:#ffc952;}
.color07{ background:#af4034;}
.color08{ background:#4ea1d3;}

.color09{ background:#df405a;}
.color10{ background:#87314e;}
.color11{ background:#512645;}
.color12{ background:#311e3e;}

.color13{ background:#30a9de;}
.color14{ background:#6a60a9;}
.color15{ background:#e53a40;}
.color16{ background:#090707;}

.direction_resize{font-size:3em;}